<div class="h-screen bg-slate-200 flex justify-center items-center w-screen overflow-hidden">
    <div class="w-1/2 h-full">
        <img class="h-full" src="./../../../assets/vectors/undraw_absorbed_in_re_ymd6.svg" alt="" />
    </div>
    <div class="w-1/2 h-full flex flex-col z-40 relative">
        <div class="mymo absolute z-10 bg-teal-400" style="
      width: 111%;
    background: #2fc9b3;
    height: 82%;
    bottom: -25%;
    border-radius: 120% 26%;
    right: -20%;
      "></div>
        <div class="mymo absolute z-10 bg-teal-400" style="
      width: 47%;
    background: #2fc9b3;
    height: 38%;
    top: -19%;
    border-radius: 64% 59%;
    right: -20%;
      "></div>
        <div class="mymo absolute z-10 bg-teal-400" style="
      width: 30%;
    background: #2fc9b3;
    height: 27%;
    top: 30%;
    border-radius: 64% 59%;
    left: -20%;
      "></div>
        <div class="mymo absolute z-10 bg-teal-400" style="
        width: 60%;
        background: #2fc9b3;
        height: 45%;
        top: -19%;
        border-radius: 64% 59%;
        left: -20%;
      "></div>
        <div class="text-6xl w-full h-3/6 flex items-end justify-center z-50">
            <p class="w-5/6 text-left font-bold">
                Revolucionary Program to your personal life
            </p>
        </div>
        <div class="h-1/6 flex items-center justify-center z-50">
            <p class="w-5/6 text-lg font-medium text-slate-500">
                Here you can manage your personal information! Including movies watched, series, your height and weight, your financial assets, and so much more!!!
            </p>
        </div>
        <div class="w-full h-3/6 flex justify-center items-start z-50">
            <button class="w-1/6 py-3 rounded bg-slate-700 mr-5 font-medium text-white shadow-md">
        Check out
      </button>
            <button class="shadow-md w-1/6 py-3 rounded border-1 border-teal-400 text-slate-900 font-medium bg-white">
        Get Started
      </button>
        </div>
    </div>
</div>